.login{
  min-height: 855px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar .navbar-brand {
    font-size: 1.5rem;
  }

  .navbar .btn {
    font-size: 1rem;
    padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  .login {
    min-height: 494px; 
  }
}
